.secondpage {
    display: grid;
}

.secondpage img {
    height: 143px;
    width: 100%;
}

.largeimage img {
    width: 100%;
    height: 450px;
    border-radius: 20px 0px 0px 0px;
}

.secondpagediv {
    padding: 1rem 6rem;
    width: 100%;
}

.headpara h2 {
    font-size: 25px;
    width: 100%;
}

.columncol {
    width: 100%;
}

.childheadpara li {
    color: #6A6A6A !important;
    font-family: 'Times New Roman', Times, serif;
    line-height: 9px;
}

.childheadpara h5 {
    font-family: Times New Roman;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;

}

.childheadpara h6 {
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: left;

}

.buttonsection button {
    width: 184px;
    height: 49px;
    background: #F0F0F0;
    border-radius: 80px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
 .inputform input{
    text-indent: 30px !important;
}
.inputform {
    position: relative;
}
.inputform i{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #000;
}


.buttonsection2 {
    padding-top: 25px;
}

.buttonsection2 button {
    width: 164px;
    height: 52px;
    border-radius: 80px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    background: #78239B;
    color: #F0F0F0;
}
.lastrowparent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px 70px 0px 70px;
}

.lastrow {
    width: 100%;
    background-color: black;
    color: white;
    height: 100%;
    align-items: center;
    border-radius: 18px;
    padding: 30px;
    margin-bottom: -30px;
}
.headingclass{
 font-family: Times New Roman;
font-size: 40px;
font-weight: 700;
line-height: 45px;
}

.inputform input {
    width: 349px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    gap: 12px;
    border-radius: 62px;
    border: none;
}

.inputformtwo {
    margin-top: 10px;
    margin-left: 10px;
}
.inputformtwo button {
    width: 339px;
    height: 42px;
    gap: 12px;
    border-radius: 62px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
}
.navbardiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.icondivtwo{
    display: flex;
}
.icondivtwo i{
    padding: 0px 12px;
}
.nav-item a{
font-family: Times New Roman;
font-size: 20px;
font-weight: 400;
line-height: 23px;
}
.nav-items{
    display: flex;
}
.nav-items i{
    padding: 11px 6px 11px 2px;
}
.nav-items a{
 font-family: Times New Roman;
font-size: 20px;
font-weight: 400;
line-height: 23px;
}
.photodiv{
    background-color: #F1F4FF;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.sectionlast{
    padding: 0rem 13rem 0rem 13rem;
}
.photodivimage{
    padding:15px 30px 30px 23px;
    width: 241.71px;
height: 161.8px;

}
.photodivimage img{
    width: 100%;
}
.photodivtwo{
width: 100%;
}
.headparagraph{
    padding: 20px;
}
.headparagraph h3{
    font-family: Times New Roman;
font-size: 19.81px;
font-weight: 700;
line-height: 22.78px;
}
.headparagraph p{
    font-family: Times New Roman;
font-size: 16.51px;
font-weight: 400;
line-height: 18.98px;
text-align: left;
color: #646464;

}
.headparagraphtwo h6{
font-family: Times New Roman;
padding: 12px;

}
.headparagraphtwo p{
    font-family: Times New Roman;
font-size: 16.51px;
font-weight: 400;
line-height: 18.98px;
text-align: left;


}
.headparagraphtwo{
    font-family: Times New Roman;
font-size: 14px;
font-weight: 400;
line-height: 18.98px;
text-align:end;
color: #646464;
margin-left: 20px;

}
.bottom{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.bottom button{
    width:204px;
height: 60px;
border-radius: 10px;
background-color: #78239B;
color: #F0F0F0;
border: none;
}


@media screen and (max-width : 769px) {

    .secondpage img {
        height: 100%;
        width: 100%;
    }

    .largeimage {
        margin-top: 30px;
    }

    .headpara {
        margin-top: 30px;
    }

}

@media screen and (max-width : 1150px) {
    .childheadpara li {
        line-height: 20px;
    }

}
@media screen and (max-width: 1000px )   {
    .inputformtwo button{
        width: 100%;
    }
    .inputform input{
        width: 100%;
    }
    
}
@media screen and (max-width : 620px) {
    .bottom button{
        height: 100%;
    }
    .sectionlast{
        display: flex;
        justify-content: center;
    }
    .photodiv{
        width: 200px;
    }

}

