body {
    overflow-x: hidden !important;
    font-family: Times New Roman;
}

.topnav {
    background: #000;
    color: #fff;
    padding: 10px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
}


.container-fluid {
    --bs-gutter-x: unset !important;
}

.topnav p {
    margin: unset !important;
}

.maincolor {
    background: #78239B;
    color: #fff;
}


.me-auto {
    margin: auto !important;
}

.Searchcustom {
    width: 500px;
}

.login {
    color: black;
    border: 1px solid black !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #fff !important;
    height: 70px !important;
}

.bg-body-tertiarys {
    --bs-bg-opacity: 1;
    background-color: #F6F6F6 !important;
    padding: 15px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #000;
    font-size: 15px;
}

.btn-outline-success {
    border-radius: 5px !important;
    border: none !important;
    padding: 5px 15px;
    margin: 0 0px 18px 0;
}

.carousel-item img {
    height: 435px;
}


.topsliderright img {
    height: 100%;
    padding: 2rem 0;
}

.topsliderrightgreige {
    margin-top: 3rem;
}

.topsliderrightgreige img {
    height: 435px;
}

.carousel-caption {
    bottom: 6.5rem !important;
}

.carousel-dark .carousel-caption {
    color: #fff !important;
}

.carousel-caption button {
    width: 200px !important;
}

.bannerlogo {
    height: 230px;
    position: relative;
    color: #fff;
}

.aboutss img {
    border-radius: 4%;
}

.banneerlogo div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    background-image: url('../images/Mask\ group.png'); /* Specify the image URL */
    background-size: cover; /* Makes sure the image covers the entire container */
    background-position: center; /* Centers the image */
    background-color: #000;
    color: #fff;


}


.Greigefabricpad {
    font-family: Times New Roman;
    font-size: 29px;
    font-weight: 600;
    text-align: center;
    padding: 16px;
    margin: unset;
}

.Productss div {
    display: flex;
    justify-content: center;
}

.Productss img {
    padding: 5px;
    width: 100%;
}

.Gfabric {
    font-family: Times New Roman;
    font-size: 27px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    margin: unset;
}

.playout {
    width: 530px;
}

.aboutusdiuv {
    padding: 0px 0px 4rem;
}

.productcolor {
    background-color: #F5F5F5;
}

.gallerycolor {
    background-color: #F8E8FF80;
    padding: 1px 1px 5rem;
}


.Greigepadding {
    padding: 0rem 5rem;
}

.columnimage {
    gap: 1rem !important;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}



.secbothimg img {
    height: 192px !important;
}

.fabric_bac {
    background-color: #F6F6F6;
    height: 125px;
}

.dedigne {
    font-family: Times New Roman;
    font-size: 31px;
    font-weight: 400;
    line-height: 35.65px;
    text-align: left;
    margin: unset;
    padding-top: 2rem;

}

.Greigepaddingsec {
    padding: 3rem 5rem;
    padding-bottom: unset;
}

.Product {
    padding: 3rem 5rem;
    padding-bottom: unset;
}

.Greigepaddingsec img {
    width: 100%;
    height: 400px;
}

.Greigefabric {
    font-family: Outfit;
    font-size: 30px;
    font-weight: 500;
    line-height: 40.1px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.Greigefabric_gal {
    font-family: Outfit;
    font-size: 26px;
    font-weight: 500;
    line-height: 40.1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: unset;
}

.imagetextrelative {
    position: relative;
}

.imagetext {
    position: absolute;
    color: #fff !important;
    bottom: 1rem;
    left: 2rem;
}

.imagetext h2 {
    font-size: 1.5rem;
    text-align: left;
}

.imagetext p {
    font-size: .8rem;
    text-align: left;
}

.imagetext button {
    padding: 10px 20px;
    font-size: 14px;
}

.secbothimg .img {
    display: flex;
}

.img-fluid {
    object-fit: cover;
}

.aboutusHeading p {
    color: #000;
    font-weight: 500;
}

.aboutusHeadingsec p {
    color: #83848A;
}

.aboutus {
    font-family: Times New Roman;
    font-size: 40px;
    font-weight: 400;
    line-height: 46px;
    text-align: left;

}

.startlogo{
    position: absolute;
    top: 35%;
    left: 45%
}

.startlogo img{
    width: 8rem;
} 

.Maindiv input{
    margin: 8px;
}

.Maindiv{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;
    border-radius: 8px;
}
.Maindivtwo{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 16px;
    border-radius: 8px;
}

.Categoriesbtn {
    padding: 0px 14rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Categoriesbtn button {
    background-color: #ffffff;
    color: #000;
    border: none;
    font-size: 15px;
    font-family: Times New Roman;
    margin: 5px;
    font-weight: 600;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    background-color: #78239B !important;
    color: #fff;
}

.CategoriesbtnGRID {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 22rem;
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
}

.CategoriesbtnGRID .active {
    border-bottom: 2px solid #78239b;
    color: #78239b;

}


.carousel-item img {
    width: 100% !important;
}

/* slidercode */

.slider {
    width: 100%;
    height: 300px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
}

.slider .item {
    width: 15rem;
    border-radius: 50%;
    margin-right: 4rem;
}

.slider .item:last-child {
    margin-right: 0;
}

.ctrl {
    text-align: center;
    margin-top: 5px;
}

.ctrl-btn {
    padding: 15px 20px;
    min-width: 50px;
    background: #78239B;
    border: none;
    color: #fff;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
    left: 0px;
}

.ctrl-btn.pro-next {
    right: 0;
}



/* testominial code */

.testimonialfluid {
    background-color: #F6F0F9;
    padding: 10px;
    border-radius: 10px;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 478px;
    /* box-shadow: 2px 2px 30px rgb(0 0 0 / 10%); */
    background-color: #EEF1F6;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #83848A;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}



/* contactformcode */

.icondiv {
    display: flex;
}

.icondiv h4 {
    font-size: x-large;
    font-weight: bolder;
    font-family: Times New Roman;

}

.icondiv p {
    font-size: medium;
    font-family: Times New Roman;
}

.icondiv i {
    font-size: 20px;
    color: #252525;
    background: #EEF1F6;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputcss input {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: solid 1px #767676;

}

.flotingdiv {
    height: 288px !important;
    border: 1px solid #767676;

}

.inputcss div input {
    text-indent: 30px;
}

::-webkit-input-placeholder {
    color: black;
    font-size: larger;
}

.lastbutton {
    text-align: center;
}

.lastbutton button {
    width: 50%;
    padding: 10px;
    margin: 16px;
    background-color: #78239B;
    color: #ECECEC;
    font-size: x-large;
    font-family: 'Times New Roman';
}

.leftpadding {
    padding: 0px 50px;
}

::selection {
    color: #ffffff;
    background-color: #252525;
}


.modal-header {
    border-bottom: unset !important;
    z-index: +9999;
}

.modal-header .btn-close {
    background-color: #EEF1F6;
    border-radius: 50%;
    font-size: 10px;

}

.modal-footer {
    border-top: unset !important;
}

.login {
    font-family: Times New Roman;
}

.Forgot {
    text-align: left;
    font-family: Times New Roman;
    font-size: 13px;
    color: red;
    margin-left: 5px;
}

.Forgots {
    text-align: right;
    font-family: Times New Roman;
    font-size: 13px;
    color: #78239B;
    font-weight: bold;
}


.loginbtn {
    background-color: rgba(120, 35, 155, 1);
}

.registerss input {
    margin: 10px 0;
}

.newregistation {
    font-family: Times New Roman;
    font-size: 15px;
    font-weight: 400;
}

.form-control {
    font-size: .8rem !important;
    height: 2.5rem;
}

.modal-content {
    border-radius: 15px !important;
}

/* .btn:hover{
    background-color: rgba(120, 35, 155, 1) !important;
    border-color: #78239B !important;
} */


/* General Styling for Verify Wrapper */
.verify {
    text-align: center;
    padding-bottom: unset !important;
}

/* Verify Header */
.verify h6 {
    margin-bottom: 1rem;
    text-align: center;
}

/* Form Styling */
.verify form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Flex container for input fields */
.verify .flex {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    /* Adds spacing between the inputs */
    margin-bottom: 1.5rem;
}

/* Individual input fields within verify */
.verify input[type="text"] {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #D1D5DB;
    /* Gray border */
    border-radius: 0.375rem;
    /* Rounded corners */
    text-align: center;
    font-size: 1.125rem;
    /* Larger font */
    font-weight: 600;
    /* Bold font */
}

.verify input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(138, 77, 255, 0.5);
    /* Purple shadow */
    border-color: #A78BFA;
    /* Purple border */
}


.verify a {
    color: #6B46C1;
    text-decoration: underline;
    font-weight: 700;
}

.verify a:hover {
    color: #9B51E0;
}

.verifybtn {
    padding-top: unset !important;
}

.verify h1 {
    font-weight: bold;
}

.custom-dropdown-toggle {
    font-weight: bold;
}

.modelimage {
    background-color: #EFE3F4;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.card {
    border-radius: 10px !important;
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 100%;
    padding: 10px;
}

.card-titles {
    font-family: Outfit;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.card-body{
    display: inline-grid;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 3000px) {

    .playout {
        width: 100%;
    }
}

@media only screen and (max-width: 1379px) {

    .playout {
        width: 100%;
    }

    .testimonial-box {
        width: 438px;
    }

    .imagetext button {
        padding: 10px 20px
    }
}

@media only screen and (max-width: 1179px) {
    .Searchcustom {
        width: 100% !important;
    }

    .bg-body-tertiary {
        height: unset !important;
    }

    .testimonial-box {
        width: 400px;
    }

}

@media(max-width:1060px) {
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }

    .CategoriesbtnGRID {
        padding: 1.5rem;
    }

    .imagetext button {
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 810px) {
    #searchmob {
        width: 100%;
        margin-top: 10px;
    }

    .Productss img {
        width: 100%;
    }

    .Greigepaddingsec {
        padding-top: 5rem;
    }

    .Greigecontainer {
        margin-top: 2rem;
    }


    .Greigepadding {
        padding: 1rem;
    }

    .productcolor {
        padding: 1rem;
    }

    .Categoriesbtn {
        padding: 0px 25px;
    }
}

@media(max-width:790px) {
    .testimonial-box {
        width: 100%;
    }

    .testimonial-heading h1 {
        font-size: 1.4rem;
    }

    .dedigne {
        text-align: center;
    }

    .Gfabric {
        text-align: center;
    }

    .row {
        --bs-gutter-x: unset !important;
    }

    .container-fluid {
        --bs-gutter-x: 1.5rem !important;
    }

    .columnimage {
        padding-top: 8px;
    }

    .slider .item {
        width: 240px;
    }

    .Greigepaddingsec {
        padding: 1rem;
    }

    .topnav {
        display: flex;
        flex-wrap: wrap;
    }
    .Product{
        padding: unset !important;
    }

}

@media(max-width:767px) {
    .Greigepadding {
        margin-top: -9rem;
    }
}

@media(max-width:600px) {

    .leftpadding {
        padding: 40px 50px;
    }

    .Categoriesbtn {
        padding: 0px 16px;
    }
}

@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .reviews {
        margin-top: 10px;
    }

}